.About{
    padding-top: 50px;
    background-color: #121211;
    padding-bottom: 5%;
}

@media screen and (max-width: 500px){
    .About{
        padding-top: 50px;
        background-color: #121211;
        padding-bottom: 5%;
        padding-left: 0;
    }
}

.LeftPadding{
    padding-left: 10%;
}

.Title{
    text-align: left;
    color: white;
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 50px;
}

@media screen and (max-width: 500px){
    .Title{
        text-align: center;
        margin-bottom: 10px;
    }
}


.Content{
    display: inline-flex;
    justify-content: flex-start;
    overflow: hidden;
    margin-bottom: 10%;
}

@media screen and (max-width: 500px){
    .Content{
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 20px;
    }
}

.Text{
    color: white;
    width: 50%;
    font-size: 1.5em;
    line-height: 2em;
}


@media screen and (max-width: 500px){
    .Text{
        width: 90%;
        text-align: center;
        line-height: 1em;
    }
}

.Picture{
    width: 45%;
}

@media screen and (max-width: 500px){
    .Picture{
        width: 80%;
    }
}

.Picture img{
    height: 80%;
    padding-left: 20%;
    padding-top: 8%;
}

@media screen and (max-width: 500px){
    .Picture img{
        width: 100%;
        text-align: center;
        padding-left: 0;
    }
}

.Subtitle{
    color: white;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 40px;
}

@media screen and (max-width: 500px){
    .timeline{
        padding-left: 20px;
        padding-right: 20px;
    }
}