.ContactPage{
    padding-top: 10%;
    background-color: #121211;
}

@media screen and (min-height: 700px){
    .ContactPage{
        padding-top: 10%;
        padding-bottom: 20%;
    }
}


@media screen and (min-width: 700px) and (orientation: portrait){
    .ContactPage{
        padding-top: 24%;
        padding-bottom: 24%;
    }
}

@media screen and (min-width: 700px) and (orientation: portrait){
    .ContactPage{
        padding-top: 24%;
        padding-bottom: 50%;
    }
}