.UWScheduler{
    height: 600px;
    padding-left: 10%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    justify-content: flex-start;
}

.Content1{
    background-color: transparent;
    width: 45%;
    height: 80%;
    background-image: url(../../../images/UWScheduler.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.Content2{
    background-color: transparent;
    width: 50%;
    height: 50%;
    color: white;
    margin-left: 10%;
}

.Content2 h1{
    text-align: left;
    font-size: 2.5em;
    color: white;
    position: relative;
    margin-bottom: 0.5em;
    margin-top: 10px;
}

.Content2 p{
    text-align: left;
    font-size: 1.25em;
    line-height: 1.5em;
    color: white;
    position: relative;
    margin-bottom: 0.5em;
    margin-top: 10px;
    width: 80%;
}

.Technologies{
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.Technology{
    display: inline;
    margin-left: 0;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: black;
    background-color: aqua;
    border: 1px solid aqua;
    border-radius: 10px;
}

.SourceCodeButton{
    background-color: transparent;
    color: white;
    border: 2px solid aqua;
    border-radius: 5px;
    height: 20%;
    width: 20%;
}