.Courses{
    padding-top: 40px;
    background-color: #121211;
    display: flex;
    margin: 5px 10%; 
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.title{
    position: relative;
    display: inline;
    left: 10%;
    text-align: left;
    color: white;
    font-size: 3em;
}
