.ECA{
    margin-left: 10%;
    padding-bottom: 50px;
}

.ECA h1{
    font-size: 3em;
    color: white;
    padding-bottom: 20px;
}

@media screen and (max-width: 450px){
    .ECA{
        margin-left: 0px;
    }

    .ECA h1{
        text-align: center;
    }
}

.Activities{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

